body, html {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

.container-bg {
    background-image: url("../img/bg-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    width: 100%;
    height: 56px;
}
.header-title{
    color: white;
    font-family: Arial,"Times New Roman",sans-serif;
}

.header-left {
    float: left;
    padding: 0 0 0 152px;
}

.header-right {
    width: 50%;
    height: 100%;
    float: right;
}

.right-icons {
    width: 144px;
    height: 100%;
}

.sprite-icon {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-image: url('../img/css_sprites.png');
    background-repeat: no-repeat;
}

.bg-ic_caledar {
    width: 20px;
    height: 20px;
    background-position: -10px -50px;
}

.bg-ic_forum {
    height: 20px;
    width: 20px;
    background-position: -10px -10px;
}

.bg-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -58px -10px;
}

.main-action {
    width: 444px;
    height: 586px;
    background-color: white;
    border-radius: 8px;
}

.sing-up {
    font-size: 18px;
    font-family: Arial, "Courier New", sans-serif;
}

.log-in {
    font-size: 14px;
    font-family: Arial, "Courier New", sans-serif;
    color: #3cb878;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row {
    padding: 4px 60px;
    line-height: 46px;
    height: 46px;
    width: calc(100% - 120px);
}

.display-ib {
    display: inline-block;
}

.facebook{
    background-color: #305db8;
    border: none;
    width: 157px;
    height: 46px;
}
.span-fb{
    font-size: 18px;
    color: white;
}
.google{
    background-color: #df4a32;
    border: none;
    width: 157px;
    height: 46px;
}
.span-google{
    font-size: 18px;
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.solid-line {
    border-bottom: 1px solid black;
    width: 134px;
    height: 50%;
}

.split-line {
    width: 56px;
    text-align: center;
}

.form-input {
    width: 100%;
    height: 100%;
}
.checkbox-text{
}
.color{
    color: #3cb878;
}

.submit-button {
    width: 100%;
    height: 100%;
    background-color: #3cb878;
    border: none;
}
.button-text{
    color: white;
    font-family: Arial,"Times New Roman",sans-serif;
    font-size: 16px;
}
.button-green{
    font-size: 18px;
    font-family: Arial,"Times New Roman",sans-serif;
}