
/*COMMON STYLE*/
.container{
    width: 1052px;
    padding: 0 157px;
}
.container-bg {
    width: 1366px;
    background-image: url(../img/background_img.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0 auto;
}
/*HEADER*/
.header{
    display: inline-block;
    width: 100%;
    padding: 48px 0;
}
.header-left{
    color: white;
    display: inline-block;
    height: 44px;
    width: 165px;
}
.header-left:hover{
    color: orange;
}
.header-logo{
    float: left;
}
.header-text{
    float: right;
}
.header-right{
    float: right;
}
.header-text-top{
    text-transform: uppercase;
    font-size: 29px;
    font-family: Lato, sans-serif;
}
.header-text-bottom{
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato, sans-serif;
}

.email{
    font-size: 18px;
    color: white;
    font-family:Lato, sans-serif;
}
.phone{
    font-size: 18px;
    color:white;
    font-family: Lato, sans-serif;
}
/*TOPBAR*/
.topbar{
    display: inline-block;
}
.topbar-img{
    width: 306px;
    height: 200px;
}
.topbar-link{

}
.topbar div:first-child{
    margin-left:0 ;
}
.topbar-container-item{
    float: left;
    margin-left: 67px;
}
.topbar-item-text{
    text-align: center;
    color: white;

}
.topbar-item-text:hover{
    color: orange;
}
.topbar-hover-content-left p {
    float: left;
    font-size: 23px;
    font-family: Lato, sans-serif;
    color: white;
}
.topbar-hover-content-right{
    float: right;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: white;
}
.topbar-hover-link-right{
    text-decoration: none;
    color: white;
}
.topbar-hover-content{
    display: none;
    background: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
}

.img-container {
    position: relative;
}

.img-container:hover .topbar-hover-content {
    display: block;

}
/*footer*/
.footter p{
    font-family: Lato, sans-serif;
    color: white;
    text-align: center;
    padding-top: 60px;
}