/*common style*/
.container{
    width: 1280px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/*Header*/
.header{
    padding: 60px 0 0 0;
    width: 100%;
}
.color{
    color: #4bcaff;
}
.logo {
    width: 100%;
    margin: 0 0 45px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80px;
    font-family: Arial,"Courier New",sans-serif;
    display: inline-block;
}
/*NAVBAR*/
.navbar{
    display: inline-block;
    background-color: #35444f;
    height: 70px;
    width: 100%;
}
.navbar-nav{
    height: 100%;
    text-align: center;
    padding: 0 130px;
}

.navbar-nav-item{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    padding: 0 40px;
}

.navbar-nav-item.active {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222f3a;
}

.navbar-nav-link{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial,"Courier New",sans-serif;
    line-height: 69px;
}
/*GoatPicture*/
.goat-picture-nav{
    display: inline-block;
    border: 2px solid black;
    width: 50%;
    margin-top: 10px;
    margin-left: 190px;
}
.goat-picture-logo{
    clear: both;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 75px 300px;
    background-image: url("../img/white01.png");
    background-size: cover;
    color: #11100e;
    width: 100%;
}
.locationbar{
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    height: 400px;
    width: 345px;
}
.block-right {
    width: 885px;
    float:right;
}
.locationbar-nav-item{
   line-height: 80px;
    padding-left: 40px;
}
.locationbar-nav-link{
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial,Haettenschweiler,sans-serif;
    text-align: left;
    line-height: 1.5;
    color: #000;
}

.color-Why{
    background-color: #dbdbdb;
    padding-left: 69px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial,Haettenschweiler,sans-serif;
    color: #000;
}
.content{
    width: 100%;
    display: inline-block;
    margin: 50px 0 0 0;
}
.text-container {
    padding: 50px 40px 50px 30px;
}
.content-text{
    font-size: 18px;
    font-family: Arial,Haettenschweiler,sans-serif;
    color: rgba(44, 44, 44, 255);
    line-height: 1.5;
    text-align: justify;
}

.margin-text-top {
    margin: 30px 0 0 0;
}
/*ENDBAR*/
.footer{
    display: inline-block;
    height: 69px;
    width: 100%;
    background-color: #b4b7ba;
}
.endbar-nav{
    text-align: center;
    padding-left: 32px;
}
.endbar-nav-item{
    float: left;
    line-height: 69px;
    padding: 0 12px;
}
.endbar-nav-link{
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial,"Courier New",sans-serif;
}
.foooter-list{
    width: 1000px;
    float: left;

}
.footer-text {
    float: right;
    line-height: 69px;
    padding: 0 35px;
    color: black;
    font-size: 20px;
}
.endbar-nav-link.color-blue{
    color: #3181a6
}


